* {
  box-sizing: border-box;
}

.outer-container__one {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-left-color: #5c575a;
  border-top-color: #5c575a;
  border-bottom-color: #c0c1c2;
  border-right-color: #c0c1c2;
  background-color: #797979;
}
.outer-container__two {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-bottom-color: #4b4647;
  border-right-color: #4b4647;
  border-left-color: #c0c1c2;
  border-top-color: #c0c1c2;
  padding: 5px;
}

.inner-container__one {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-left-color: #5c575a;
  border-top-color: #5c575a;
  border-bottom-color: #c0c1c2;
  border-right-color: #c0c1c2;
}

.inner-container__two {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-bottom-color: #4b4647;
  border-right-color: #4b4647;
  border-left-color: #c0c1c2;
  border-top-color: #c0c1c2;
  padding: 5px;
}

.screen-container__wrapper {
  display: flex;
}

.screen-container__outer {
  width: fit-content;
  background: white;
  padding-top: 2.5px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 1px;
  border-left-color: black;
  border-style: solid;
  border-width: 0.5px;
  border-bottom: none;
  border-right: none;
  margin: 0px;
}

.triangle-wrapper {
  position: relative;
}

.outer-triangle__right {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 13px solid black;
  border-bottom: 13px solid transparent;
  position: absolute;
}
.inner-triangle__right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 12px solid white;
  border-bottom: 12px solid transparent;
  position: absolute;
  top: 1px;
  left: 0;
}

.buffer {
  margin: 6px;
}

.outer-triangle__left {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-right: 18px solid black;
  border-bottom: 18px solid transparent;
  position: absolute;
}
.inner-triangle__left {
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-right: 17px solid white;
  border-bottom: 17px solid transparent;
  position: absolute;
  left: 1px;
}

.island-container__wrapper {
  display: flex;
  align-items: center;
}

.screen-container__text {
  color: #ffffff;
  width: fit-content;
  background-color: black;
  padding: 1px 8px 1px 8px;
  font-style: italic;
  margin: 0px;
  border-radius: 1px;
}

#island-triangle {
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.console-display__wrapper {
  display: flex;
  align-items: center;
}

.island-container__outer {
  width: fit-content;
  border-radius: 1px;
  border-top: 1px solid black;
  border-left: none;
  border-bottom: 0.5px solid #4b4b4b;
  border-right: 0.5px solid #4b4b4b;
  margin: 0px;
}

.island-container__text {
  color: black;
  width: fit-content;
  background-color: white;
  padding: 8px 48px 8px 48px;
  font-style: italic;
  margin: 0px;
}

#console-display {
  grid-area: 4 / 1 / 5 / 2;
}

#console-display > .outer-container__two {
  padding: 5px 10px;
}

.room-info__container {
  grid-area: 3 / 1 / 4 / 4;
  background-color: #e2eb57;
  padding: 3px;
  display: flex;
}

.room-info__level-display {
  width: fit-content;
}

.room-info__level-text {
  color: white;
  background: black;
  width: fit-content;
  padding: 1px 8px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.room-info__level-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-weight: bolder;
  font-size: 50px;
  margin: 5px 0 0 0;
}

.room-info__title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-info__title {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  margin: 5px 8px;
  padding: 8px 0;
  font-size: x-large;
}

.room-info__subtitle {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  padding: 4px 36px;
  margin: 5px 8px 0px 8px;
}

#map-display {
  grid-area: 1 / 1 / 3 / 2;
}

.map-display__container {
  width: 500px;
  border-bottom: 8px solid #438149;
  border-top: 8px solid #438149;
  display: flex;
  height: 500px;
  justify-content: space-between;
}

.map-display__system-wrapper {
  display: flex;
  align-items: center;
  background-color: #448149;
}

.map-display__center-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sys-one {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
}

#sys-four {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  justify-items: stretch;
}

h1 {
  max-width: fit-content;
  background: #438149;
  color: #ededed;
  margin: 0 auto;
}
