@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}

#grid-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-items: stretch;
  height: 100%;
}

#outer-container__outer {
  max-width: 90%;
  height: 100%;
}

#outer-container__inner {
  height: 100%;
}

#console-display {
  grid-area: 4/1/5/2;
}

#control-panel {
  grid-area: 1/2/4/3;
}

#tour-display__outer {
  grid-area: 1/1/4/2;
  display: flex;
  flex-direction: column;
}

#tour-display__inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#control-panel__inner {
  display: flex;
  flex-direction: column;
}

#top-level {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#instructions-panel__outer {
  flex: 1;
}

#instructions-panel__inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.outer-edge__light, .outer-edge__light__no-right-edge {
  border-left: solid 1px #585356;
  border-top: solid 1px #585356;
  border-right: solid 1px #c8c8c8;
  border-bottom: solid 1px #c8c8c8;
  border-radius: 1px;
  background-color: #797979;
  height: 100%;
}

.inner-edge__light, .inner-edge__light__no-padding {
  border-bottom: solid 2px #4a4546;
  border-right: solid 2px #4a4546;
  border-left: solid 2px #c8c8c8;
  border-top: solid 2px #c8c8c8;
  padding: 5px;
  height: 100%;
}

.inner-edge__dark {
  border-bottom: solid 2px #3F3D43;
  border-right: solid 2px #3F3D43;
  border-left: solid 2px #A7A8AE;
  border-top: solid 2px #A7A8AE;
  height: 100%;
}

.outer-edge__dark, .outer-edge__dark__no-right-edge {
  border-left: solid 1px #302a2a;
  border-top: solid 1px #302a2a;
  border-right: solid 1px #c1c2c6;
  border-bottom: solid 1px #c1c2c6;
  border-radius: 1px;
  height: 100%;
}

.inner-edge__light__no-padding {
  padding: 0px;
  height: 100%;
}

.outer-edge__dark__no-right-edge {
  border-right: none;
  height: 100%;
}

.outer-edge__light__no-right-edge {
  border-right: none;
  height: 100%;
}

.outer-edge__console {
  border-top: solid 1px #6A6767;
  border-right: solid 1px #B1ABAB;
  border-bottom: solid 1px #B1ABAB;
  border-left: solid 1px #6A6767;
  border-radius: 1px;
  height: 100%;
}

.inner-edge__console {
  border-top: solid 1px #EAE9E9;
  border-right: solid 1px #A59B9A;
  border-bottom: solid 1px #A59B9A;
  border-left: solid 1px #EAE9E9;
  background-color: white;
  height: 100%;
}

.control-panel__button-display {
  display: flex;
  align-items: center;
}

.button-text__engraved, .button-text__engraved__light {
  text-shadow: 1px 1px 0px #616161, 2px 1px 0px #aeb5b5;
  color: transparent;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.button-text__engraved__light {
  text-shadow: 3px 2px 1px #b0b4a9, 1px 1px 0.5px #666c57;
}

.button-text__embossed {
  color: #bfbfbf;
  text-shadow: 1px 1px 1px #565656;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.button__depressed {
  width: fit-content;
  box-shadow: inset 0 0 8px #4c4c4c;
  padding: 5px;
  cursor: default;
}

.buttons {
  cursor: pointer;
}

#stop-button {
  font-size: 11.55px;
}

#power-charge {
  border-radius: 50%;
  background-color: #f6e100;
  width: 50px;
  height: 50px;
}

#power-close {
  border-radius: 50%;
  background-color: #148e42;
  width: 50px;
  height: 50px;
}

.power-button__text {
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: "Roboto", sans-serif;
}

.toggle-switch-container {
  align-content: center;
  padding: 30px;
}

.toggle-switch {
  margin: 0;
}

.toggle-switch {
  width: 10px;
  position: relative;
}

.toggle-switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.toggle-switch input:checked {
  z-index: 1;
}

.toggle-switch input:checked + label {
  opacity: 1;
  cursor: default;
}

.toggle-switch input:not(:checked) + label:hover {
  opacity: 0.5;
}

.toggle-switch label {
  color: #fff;
  opacity: 0.33;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-outside {
  height: 100%;
  border-radius: 17px;
  padding: 11px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-inside {
  border-radius: 50%;
  background: #424242;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.switch-vertical {
  background-color: #00f;
  width: 0px;
  height: 60px;
  margin-left: 27px;
}

.switch-vertical input {
  height: 100%;
  width: 60px;
  right: 0;
  margin: 0;
}

.switch-vertical label {
  font-size: 15px;
  line-height: 30px;
  display: block;
  width: 80px;
  height: 50%;
  margin: 0;
  text-align: left;
  padding-left: 12px;
}

.switch-vertical .toggle-outside {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 23px;
  height: 100%;
  right: 0;
  top: 0;
}

.switch-vertical .toggle-inside {
  height: 17px;
  left: 3px;
  top: 3px;
  width: 17px;
}

.switch-vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 3px;
}

.switch-vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 40px;
}

.tour-display__system-wrapper {
  background-color: #448149;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tour-display__center-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour-display__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: black;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom, white 1px, transparent 1px);
}

.tour-display__system-status {
  background: #438149;
  color: #ededed;
  margin: 0;
}

.tour-display__system-status__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border-top: 10px solid #438149;
  border-bottom: 10px solid #438149;
  font-style: italic;
}

#sys-one {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#sys-one,
#sys-four {
  font-size: 38px;
}

#sys-two {
  padding: 4px 8px 8px 8px;
}

#sys-three {
  padding: 8px 8px 4px 8px;
}

#sys-three,
#sys-two {
  font-size: 26px;
}

#sys-four {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.room-info__container {
  grid-area: 3/1/4/2;
  background-color: #e2eb57;
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
}

.room-info__level-display {
  width: fit-content;
}

.room-info__level-text {
  color: white;
  background: black;
  width: fit-content;
  padding: 1px 8px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.room-info__level-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-weight: bolder;
  font-size: 50px;
  margin: 5px 0 0 0;
}

.room-info__title-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.room-info__title {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  margin: 5px 8px;
  padding: 8px 0;
  font-size: x-large;
}

.room-info__subtitle {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  padding: 4px 36px;
  margin: 5px 8px 0px 8px;
}

#console-display > .outer-container__two {
  padding: 5px 10px;
}

#console-display__container {
  display: flex;
}

.screen-container__wrapper {
  display: flex;
}

.screen-container__outer {
  width: fit-content;
  background: white;
  padding-top: 2.5px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 1px;
  border-left-color: black;
  border-style: solid;
  border-width: 0.5px;
  border-bottom: none;
  border-right: none;
  margin: 0px;
}

.triangle-wrapper {
  position: relative;
}

.outer-triangle__right {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 13px solid black;
  border-bottom: 13px solid transparent;
  position: absolute;
}

.inner-triangle__right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 12px solid white;
  border-bottom: 12px solid transparent;
  position: absolute;
  top: 1px;
  left: 0;
}

.buffer {
  margin: 6px;
}

.outer-triangle__left {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-right: 18px solid black;
  border-bottom: 18px solid transparent;
  position: absolute;
}

.inner-triangle__left {
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-right: 17px solid white;
  border-bottom: 17px solid transparent;
  position: absolute;
  left: 1px;
}

.island-container__wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.screen-container__text {
  color: #ffffff;
  width: fit-content;
  background-color: black;
  padding: 1px 8px 1px 8px;
  font-style: italic;
  margin: 0px;
  border-radius: 1px;
}

#island-triangle {
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.console-display__wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.island-container__outer {
  flex: 1;
  border-radius: 1px;
  border-top: 1px solid black;
  border-left: none;
  border-bottom: 0.5px solid #4b4b4b;
  border-right: 0.5px solid #4b4b4b;
  margin: 0px;
}

.island-container__text {
  color: black;
  background-color: white;
  padding: 8px 48px 8px 48px;
  font-style: italic;
  margin: 0px;
  text-align: center;
}

.control-panel__video-screen {
  margin-bottom: 10px;
  min-height: 267px;
}

.video-screen {
  background-color: #606971;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.video-screen__loading-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}

.video-screen__loading-spinner::before,
.video-screen__loading-spinner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
}

.video-screen__loading-spinner::before {
  left: 0;
  animation-name: loadingSpinner;
  animation-direction: normal;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.video-screen__loading-spinner::after {
  left: 50%;
  animation-name: loadingSpinner;
  animation-direction: reverse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.video-screen_loading-spinner__wrapper {
  background-color: #40c14c;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 5px;
  margin-bottom: 20px;
}

.video-screen__text-wrapper {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-screen__header {
  margin: 0;
  font-style: italic;
  text-transform: uppercase;
}

.video-screen__hidden {
  display: none;
}

#video-screen__reboot {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-screen__info-text {
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes loadingSpinner {
  from {
    background: linear-gradient(#000e0d, #000e0d 50%, #f9fb07 50%);
  }
  to {
    background: linear-gradient(#f9fb07, #f9fb07 50%, #000e0d 50%);
  }
}
.power-screen__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-panel__button-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-control__top {
  display: flex;
  flex-direction: row;
}

.button-control__bottom {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.button-control__top > div {
  flex: 1;
  background-color: #9CA193;
}

.button-control__bottom > div {
  flex: 1;
}

.control-panel__output-display {
  flex: 1;
}

.output-display__wrapper {
  display: flex;
  flex-direction: column;
}

.output-display-content__wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 2px 5px;
  margin: 1px 0px;
}

.output-display-content__status {
  text-transform: uppercase;
  color: white;
  background-color: #5FD069;
  font-style: italic;
  padding: 1px;
  margin: 0px 5px 0px 0px;
}

.output-display-content__content {
  font-weight: 600;
  margin: 0px;
  font-style: italic;
}

#system-icons__container {
  display: flex;
}

#system-icons__wrapper {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px black;
}

.white-font-black-background {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-style: italic;
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 2px;
}

#trash-icon-wrapper {
  display: flex;
}

#trash-icon {
  z-index: 1;
}

.system-icons__icon-wrapper {
  display: flex;
  align-items: flex-end;
}

#system-icons__wrapper img {
  cursor: pointer;
}

#trash-icon-wrapper {
  position: relative;
}

.modal-container {
  position: fixed;
  width: 0;
  height: 0;
  background-color: #797979;
}

.modal-inactive {
  width: 0px;
  height: 0px;
  transform-origin: bottom right;
  transform: translate(600px, 500px);
  transition: all 500ms linear 0s;
}

.modal-active {
  width: 500px;
  height: 200px;
  transform-origin: bottom right;
  transform: translate(-600px, -500px);
  transition: all 500ms linear 0s;
}

.main-display__hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
