@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (max-height: 900px) {
  body {
    height: 100vh;
  }
}
body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}

#grid-container {
  display: flex;
  flex: 1;
}

#main-left__container, #main-right__container {
  display: flex;
  flex-direction: column;
}

#main-left__container {
  flex: 0 0 55%;
}

#main-right__container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#outer-container__outer {
  display: flex;
  flex: 0 0 60%;
  height: 100%;
}

#outer-container__inner {
  height: 100%;
  display: flex;
  flex: 1;
}

#console-display {
  flex: 0 0 calc(10% + .6vw);
}

#console-display > div.inner-edge__light, #console-display > div.inner-edge__light__no-padding {
  padding: 0.25vw 0.5vw;
}

#control-panel {
  flex: 1;
}

#tour-display__outer {
  display: flex;
  flex-direction: column;
}

#tour-display__inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#control-panel__inner {
  display: flex;
  flex-direction: column;
}

#top-level {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#instructions-panel__outer {
  flex: 1;
}

#instructions-panel__inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#main-logo {
  width: 200px;
}

.outer-edge__light, .outer-edge__light__no-right-edge {
  border-left: solid 0.15vw #585356;
  border-top: solid 0.15vw #585356;
  border-right: solid 0.15vw #c8c8c8;
  border-bottom: solid 0.15vw #c8c8c8;
  border-radius: 1px;
  background-color: #797979;
  height: 100%;
}

.outer-edge__light-buttons, .outer-edge__light__no-right-edge-buttons {
  border-left: solid 0.1vw #585356;
  border-top: solid 0.1vw #585356;
  border-right: solid 0.1vw #c8c8c8;
  border-bottom: solid 0.1vw #c8c8c8;
  border-radius: 1px;
  background-color: #797979;
  height: 100%;
}

.inner-edge__light-buttons, .inner-edge__light__no-padding-buttons {
  border-bottom: solid 0.1vw #4a4546;
  border-right: solid 0.1vw #4a4546;
  border-left: solid 0.1vw #c8c8c8;
  border-top: solid 0.1vw #c8c8c8;
  padding: 0.25vw;
  height: 100%;
}

.inner-edge__light, .inner-edge__light__no-padding {
  border-bottom: solid 0.2vw #4a4546;
  border-right: solid 0.2vw #4a4546;
  border-left: solid 0.2vw #c8c8c8;
  border-top: solid 0.2vw #c8c8c8;
  padding: 0.5vw;
  height: 100%;
}

.inner-edge__dark {
  border-bottom: solid 0.2vw #3F3D43;
  border-right: solid 0.2vw #3F3D43;
  border-left: solid 0.2vw #A7A8AE;
  border-top: solid 0.2vw #A7A8AE;
  height: 100%;
}

.inner-edge__dark-buttons {
  border-bottom: solid 0.1vw #3F3D43;
  border-right: solid 0.1vw #3F3D43;
  border-left: solid 0.1vw #A7A8AE;
  border-top: solid 0.1vw #A7A8AE;
  height: 100%;
}

.outer-edge__dark, .outer-edge__dark__no-right-edge {
  border-left: solid 0.15vw #302a2a;
  border-top: solid 0.15vw #302a2a;
  border-right: solid 0.15vw #c1c2c6;
  border-bottom: solid 0.15vw #c1c2c6;
  border-radius: 1px;
  height: 100%;
}

.outer-edge__dark-buttons, .outer-edge__dark__no-right-edge-buttons {
  border-left: solid 0.1vw #302a2a;
  border-top: solid 0.1vw #302a2a;
  border-right: solid 0.1vw #c1c2c6;
  border-bottom: solid 0.1vw #c1c2c6;
  border-radius: 1px;
  height: 100%;
}

.inner-edge__light__no-padding {
  padding: 0px;
  height: 100%;
}

.inner-edge__light__no-padding-buttons {
  padding: 0px;
  height: 100%;
}

.outer-edge__dark__no-right-edge {
  border-right: none;
  height: 100%;
}

.outer-edge__dark__no-right-edge-buttons {
  border-right: none;
  height: 100%;
}

.outer-edge__light__no-right-edge {
  border-right: none;
  height: 100%;
}

.outer-edge__light__no-right-edge-buttons {
  border-right: none;
  height: 100%;
}

.outer-edge__console {
  border-top: solid 0.1vw #6A6767;
  border-right: solid 0.1vw #B1ABAB;
  border-bottom: solid 0.1vw #B1ABAB;
  border-left: solid 0.1vw #6A6767;
  border-radius: 1px;
  height: 100%;
}

.inner-edge__console {
  border-top: solid 0.1vw #EAE9E9;
  border-right: solid 0.1vw #A59B9A;
  border-bottom: solid 0.1vw #A59B9A;
  border-left: solid 0.1vw #EAE9E9;
  background-color: white;
  height: 100%;
}

.control-panel__button-display {
  display: flex;
  align-items: center;
}

.button-text__engraved, .button-text__engraved__light {
  text-shadow: 0.15vw 0.1vw 0px #616161, 0.2vw 0.1vw 0px #aeb5b5;
  color: transparent;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1vw;
}

.button-text__engraved__light {
  text-shadow: 0.1vw 0.1vw 0.1vw #b0b4a9, 0vw 0vw 0.05vw #666c57;
}

.button-text__embossed {
  color: #bfbfbf;
  text-shadow: 0.1vw 0.1vw 0.1vw #565656;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1vw;
}

.button__depressed {
  width: fit-content;
  box-shadow: inset 0 0 1vw #4c4c4c;
  padding: 0.25vw 0.75vw;
  cursor: default;
}

.buttons {
  cursor: pointer;
}

#stop-button {
  font-size: 11.55px;
}

#power-charge {
  border-radius: 50%;
  background-color: #f6e100;
  width: 4vw;
  height: 4vw;
}

#power-close {
  border-radius: 50%;
  background-color: #148e42;
  width: 4vw;
  height: 4vw;
}

#power-open {
  border-radius: 50%;
  background-color: #bb0005;
  width: 4vw;
  height: 4vw;
}

.power-button__text {
  color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: "Roboto", sans-serif;
}

.toggle-switch-container {
  align-content: center;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breaker-active {
  box-shadow: 0 0 0.5vw 0.5vw;
}

.toggle-switch-container p {
  color: white;
  background: #ed1a3b;
  text-transform: uppercase;
  padding: 0.5vw;
  border-radius: 20%;
  font-size: 1vw;
}

.toggle-switch {
  margin: 0;
}

.toggle-switch {
  width: 10px;
  position: relative;
}

.toggle-switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.toggle-switch input:checked {
  z-index: 1;
}

.toggle-switch input:checked + label {
  opacity: 1;
  cursor: default;
}

.toggle-switch input:not(:checked) + label:hover {
  opacity: 0.5;
}

.toggle-switch label {
  color: #fff;
  opacity: 0.33;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-outside {
  height: 100%;
  border-radius: 5px;
  padding: 11px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-inside {
  background: #424242;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.switch-vertical {
  background-color: #00f;
  width: 0px;
  height: 60px;
  margin-left: 27px;
}

.switch-vertical input {
  height: 100%;
  width: 60px;
  right: 0;
  margin: 0;
}

.switch-vertical label {
  font-size: 15px;
  line-height: 30px;
  display: block;
  width: 80px;
  height: 50%;
  margin: 0;
  text-align: left;
  padding-left: 12px;
}

.switch-vertical .toggle-outside {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 23px;
  height: 100%;
  right: 0;
  top: 0;
}

.switch-vertical .toggle-inside {
  height: 8px;
  left: 3px;
  top: 3px;
  width: 17px;
}

.switch-vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 3px;
}

.switch-vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 40px;
}

#rewind-button {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.control-panel__button-display .inner-edge__light-buttons, .control-panel__button-display .inner-edge__light__no-padding-buttons {
  padding: 0.25vw 0.75vw;
}

.tour-display__system-wrapper {
  background-color: #448149;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tour-display__center-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour-display__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: black;
  background: url("../../public/images/mapE.png") no-repeat center;
  background-size: cover;
}

.tour-display__system-status {
  background: #438149;
  color: #ededed;
  margin: 0;
}

.tour-display__system-status__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border-top: 1em solid #438149;
  border-bottom: 1em solid #438149;
  font-style: italic;
}

#tour-display__wrapper-right, #tour-display__wrapper-left {
  width: 12%;
}

#sys-one {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#sys-one,
#sys-four {
  font-size: 3vw;
}

#sys-two {
  padding: 4px 8px 8px 8px;
}

#sys-three {
  padding: 8px 8px 4px 8px;
}

#sys-three,
#sys-two {
  font-size: 1.5vw;
}

#sys-four {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.room-info__container {
  background-color: #e2eb57;
  padding: 2% 1%;
  display: flex;
  justify-content: space-evenly;
  flex: 0 0 13%;
}

.room-info__level-display {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.room-info__level-text {
  font-size: 1vw;
  color: white;
  background: black;
  padding: 1px 8px;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
}

.room-info__level-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-weight: bolder;
  font-size: 2.5vw;
  margin: 2px 0 0 0;
  flex: 1;
}

.room-info__title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-info__title {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  margin: 0.1vw 0.5vw;
  padding: 0.5vw 1.5vw;
  font-size: 1.5vw;
}

.room-info__subtitle {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  font-size: small;
  padding: 4px 36px;
  margin: 5px 8px 0px 8px;
}

#console-display > .outer-container__two {
  padding: 5px 10px;
}

#console-display__container {
  display: flex;
}

#console-display__container {
  padding: 0.25vw;
}

.screen-container__wrapper {
  display: flex;
}

.screen-container__outer {
  width: fit-content;
  background: white;
  padding-top: 2.5px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 1px;
  border-left-color: black;
  border-style: solid;
  border-width: 0.5px;
  border-bottom: none;
  border-right: none;
  margin: 0px;
}

.triangle-wrapper {
  position: relative;
}

.outer-triangle__right {
  width: 0;
  height: 0;
  border-top: 1vw solid transparent;
  border-left: 1vw solid black;
  border-bottom: 1vw solid transparent;
  position: absolute;
}

.inner-triangle__right {
  width: 0;
  height: 0;
  border-top: 0.9vw solid transparent;
  border-left: 0.9vw solid white;
  border-bottom: 0.9vw solid transparent;
  position: absolute;
  top: 0.175vw;
  left: 0;
}

.buffer {
  margin: 0.5vw;
}

.outer-triangle__left {
  width: 0;
  height: 0;
  border-top: 1.6vw solid transparent;
  border-right: 1.6vw solid black;
  border-bottom: 1.6vw solid transparent;
  position: absolute;
}

.inner-triangle__left {
  width: 0;
  height: 0;
  border-top: 1.5vw solid transparent;
  border-right: 1.5vw solid white;
  border-bottom: 1.5vw solid transparent;
  position: absolute;
  left: 0.15vw;
}

.island-container__wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.screen-container__text {
  color: #ffffff;
  width: fit-content;
  background-color: black;
  padding: 0.25vw 0.5vw;
  font-style: italic;
  margin: 0px;
  border-radius: 1px;
  font-size: 1vw;
}

#island-triangle {
  margin-right: 1.5vw;
  display: flex;
  align-items: center;
}

.console-display__wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}

.island-container__outer {
  flex: 1;
  border-radius: 1px;
  border-top: 0.1vw solid black;
  border-left: none;
  border-bottom: 0.05vw solid #4b4b4b;
  border-right: 0.05vw solid #4b4b4b;
  margin: 0px;
}

.island-container__text {
  color: black;
  background-color: white;
  padding: 0.75vw;
  font-style: italic;
  margin: 0px;
  text-align: center;
  font-size: 1.25vw;
}

.control-panel__video-screen {
  margin-bottom: 10px;
  flex: 0 0 48%;
}

#video-screen__tour {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-screen {
  background-color: #606971;
  display: flex;
  align-items: center;
  height: 100%;
}

.video-screen__loading-spinner {
  width: 4vw;
  height: 4vw;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 0.1vw solid black;
  box-sizing: content-box;
}

.video-screen__loading-spinner::before,
.video-screen__loading-spinner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
}

.video-screen__loading-spinner::before {
  left: 0;
  animation-name: loadingSpinner;
  animation-direction: normal;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.video-screen__loading-spinner::after {
  left: 50%;
  animation-name: loadingSpinner;
  animation-direction: reverse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.video-screen_loading-spinner__wrapper {
  background-color: #40c14c;
  border: 0.15vw solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0.5vw;
  margin-bottom: 2vw;
}

.video-screen__text-wrapper {
  background-color: white;
  border: 0.15vw solid black;
  padding: 0.5vw 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-screen__header {
  margin: 0;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.75vw;
}

.video-screen__hidden {
  display: none;
}

#video-screen__vehicle {
  flex: 1;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.video-screen__vehicle-details__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.video-screen__vehicle-status__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.vehicle-details__white-dot {
  border-radius: 50%;
  background-color: white;
  width: 0.5vw;
  height: 0.5vw;
}

.video-screen__vehicle-status__wrapper p {
  margin: 0;
  text-transform: none;
  font-size: 1.25vw;
  padding: 0.25vw 1vw 0 1vw;
  font-weight: 600;
  align-items: center;
}

.video-screen__info-text {
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875vw;
  text-align: center;
  margin: 0;
}

@keyframes loadingSpinner {
  from {
    background: linear-gradient(#000e0d, #000e0d 50%, #f9fb07 50%);
  }
  to {
    background: linear-gradient(#f9fb07, #f9fb07 50%, #000e0d 50%);
  }
}
#power-display__inner {
  flex-direction: column;
}

.power-screen__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: white solid 0.1vw;
}

.power-screen__button-container button {
  outline-style: none;
}

#push-to-open-button {
  border-bottom: 0px;
}

.power-screen__left {
  display: flex;
  flex: 1;
  border-right: white solid 0.1vw;
  flex-direction: column;
}

.power-screen__right {
  flex: 1;
  border-left: white solid 1px;
}

.power-button__text {
  margin: 0.5vw 0px;
  font-size: 1vw;
}

.power-screen__contact-position-container,
.power-screen__stored-energy-container {
  text-align: center;
  border-bottom: white solid 2px;
}

.power-screen__voltage-switches-container {
  display: flex;
  justify-content: center;
}

.power-screen__warning-text {
  color: white;
  margin: 0;
  font-size: 0.75vw;
  padding-left: 1vw;
  padding-top: 0.5vw;
}

.power-screen__status-text {
  margin: 0.5vw auto;
  font-size: 1vw;
}

#video-screen__power {
  flex: 1;
  justify-content: center;
  height: 100%;
}

#charge-status {
  background-color: white;
}

#contact-status {
  background-color: #148e42;
  color: white;
}

.vehicle-details__detail-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  margin-bottom: 0.1vw;
}

.video-screen__vehicle-img__wrapper {
  background: url("../../public/images/vehicleGraphic.png");
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.vide-screen__vehicle-details__right {
  flex: 1;
  background: url("../../public/images/explorerGraphic.png");
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #020713;
  background-position: center;
  border-top: 0.1vw solid #3B6285;
  border-left: 0.1vw solid #3B6285;
}

.vehicle-details__detail-container .triangle-wrapper {
  align-self: end;
}

.video-screen__vehicle-details__left {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

.vehicle-status__active {
  margin: 0 0.5vw;
  background: radial-gradient(circle, #5FC2A6, #2C7C6E, #1B5E60, #023B3A);
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: 0.1vw solid black;
}

.vehicle-status__inactive {
  margin: 0 0.5vw;
  background: radial-gradient(circle, #db817b, #6E5375, #725378, #473959);
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: 0.1vw solid black;
}

.vehicle-status__label {
  position: relative;
}

.outer-triangle__right-blue {
  width: 0;
  height: 0;
  border-top: 0.75vw solid transparent;
  border-left: 0.75vw solid #3B6285;
  border-bottom: 0.75vw solid transparent;
  position: absolute;
}

.inner-triangle__right-blue {
  width: 0;
  height: 0;
  border-top: 0.65vw solid transparent;
  border-left: 0.65vw solid black;
  border-bottom: 0.65vw solid transparent;
  position: absolute;
  top: 0.1vw;
  left: 0;
}

#vehicle-details__tour-vehicle {
  width: 23.75vw;
}

.video-screen__vehicle-details__left .vehicle-details__status-text {
  margin: 0;
  border-top: 0.1vw solid #3B6285;
  border-left: 0.1vw solid #3B6285;
  border-bottom: 0.1vw solid #3B6285;
  font-size: 0.75vw;
}

.video-screen__vehicle-details__left > div:nth-child(3) > p,
.video-screen__vehicle-details__left > div:nth-child(4) > p {
  background: #2F89C6;
}

.video-screen__vehicle-details__left > div:nth-child(3) > div.triangle-wrapper > div.inner-triangle__right-blue,
.video-screen__vehicle-details__left > div:nth-child(4) > div.triangle-wrapper > div.inner-triangle__right-blue {
  border-left: 0.65vw solid #2F89C6;
}

.control-panel__button-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-control__top {
  display: flex;
  flex-direction: row;
}

.button-control__bottom {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.button-control__top > div {
  flex: 1;
  background-color: #9CA193;
}

.button-control__bottom > div {
  flex: 1;
}

.control-panel__output-display {
  flex: 1;
}

.control-panel__output-display .inner-edge__light, .control-panel__output-display .inner-edge__light__no-padding {
  padding: 0.25vw;
}

.button-control__bottom > div {
  background-color: #9CA193;
}

.output-display__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.output-display-content__wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 2px 5px;
  margin: 1px 0px;
}

.output-display-content__status {
  text-transform: uppercase;
  color: white;
  background-color: #5FD069;
  font-style: italic;
  padding: 0.1vw 0.25vw;
  margin: 0 0.5vw 0 0;
  font-size: 1vw;
}

.output-display-content__content {
  font-weight: 500;
  margin: 0px;
  font-style: italic;
  font-size: 1vw;
}

.output-display__hidden {
  display: none;
}

#system-icons__container {
  display: flex;
  flex: 0 0 calc(10% + .6vw);
}

#system-icons__container > div, #system-icons__container > div > div {
  display: flex;
  flex: 1;
}

#system-icons__wrapper {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border: solid 0.1vw black;
}

#system-icons__wrapper > img {
  width: 4vw;
  height: 3vw;
}

#system-icons__wrapper img {
  height: 3vw;
}

.white-font-black-background {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-style: italic;
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 0.2vw 0.5vw;
  font-size: 1vw;
  white-space: pre;
}

#trash-icon-wrapper {
  display: flex;
}

#trash-icon {
  z-index: 1;
}

.system-icons__icon-wrapper {
  display: flex;
  align-items: flex-end;
}

#system-icons__wrapper img {
  cursor: pointer;
}

#trash-icon-wrapper {
  position: relative;
}

.modal-container {
  position: fixed;
  width: 0;
  height: 0;
  background-color: #797979;
}

.modal-inactive {
  width: 0px;
  height: 0px;
  transform-origin: bottom right;
  transform: translate(600px, 500px);
  transition: all 500ms linear 0s;
}

.modal-active {
  width: 500px;
  height: 200px;
  transform-origin: bottom right;
  transform: translate(-600px, -500px);
  transition: all 500ms linear 0s;
}

.main-display__hidden {
  display: none;
}

.power-screen__breaker-container {
  display: flex;
  flex: 1;
  margin-bottom: 0.25vw;
}

.breaker-wrapper {
  display: flex;
  flex: 1;
}

.breaker-off {
  background-color: #1F1115;
}

.breaker-on {
  background-color: #1F1115;
}

.power-screen__breaker-parent {
  align-self: center;
  width: fit-content;
}

.breaker-buttons__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
}

.breaker-buttons__wrapper > button {
  cursor: pointer;
}

.breaker-label__wrapper {
  background-color: #1F1115;
  padding: 10px;
  flex: 1;
  text-align: center;
}

.power-screen__voltage-container {
  display: flex;
  justify-content: space-evenly;
}

#power-display__inner > div.power-screen__votage-output-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1vw;
}

.breaker-label__text {
  color: black;
  font-size: 1vw;
  text-transform: uppercase;
  border: 0.2vw solid black;
  padding: 0.4vw;
  background-color: #37291f;
  margin: 0 auto;
}

.breaker-button {
  width: 20px;
  height: 20px;
  outline: none;
}

#tour-display__ctrl-room-map {
  background-color: white;
  display: flex;
  flex: 1;
}

#vehicle-display__inner {
  flex-direction: column;
}

.vehicle-display__upper-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.vehicle-display__lower-wrapper {
  display: flex;
  flex: 1;
}

/*# sourceMappingURL=styles.css.map */
