.outer-edge__light {
  border-left: solid 1px #585356;
  border-top: solid 1px #585356;
  border-right: solid 1px #c8c8c8;
  border-bottom: solid 1px #c8c8c8;
  border-radius: 1px;
  background-color: #797979;
}

.inner-edge__light {
  border-bottom: solid 2px #4a4546;
  border-right: solid 2px #4a4546;
  border-left: solid 2px #c8c8c8;
  border-top: solid 2px #c8c8c8;
  padding: 5px;
}

.inner-edge__dark {
  border-bottom: solid 2px #3F3D43;
  border-right: solid 2px #3F3D43;
  border-left: solid 2px #A7A8AE;
  border-top: solid 2px #A7A8AE;
}

.outer-edge__dark {
  border-left: solid 1px #302a2a;
  border-top: solid 1px #302a2a;
  border-right: solid 1px #c1c2c6;
  border-bottom: solid 1px #c1c2c6;
  border-radius: 1px;
}

.inner-edge__light__no-padding {
  @extend .inner-edge__light;
  padding: 0px;
}

.outer-edge__dark__no-right-edge {
  @extend .outer-edge__dark;
  border-right: none;
}

.outer-edge__light__no-right-edge {
  @extend .outer-edge__light;
  border-right: none;
}

.outer-edge__console {
  border-top: solid 1px #6A6767;
  border-right: solid 1px #B1ABAB;
  border-bottom: solid 1px #B1ABAB;
  border-left: solid 1px #6A6767;
  border-radius: 1px;
}

.inner-edge__console {
  border-top: solid 1px #EAE9E9;
  border-right: solid 1px #A59B9A;
  border-bottom: solid 1px #A59B9A;
  border-left: solid 1px #EAE9E9;
  background-color: white;
}
