.outer-edge__light {
  border-left: solid .15vw #585356;
  border-top: solid .15vw #585356;
  border-right: solid .15vw #c8c8c8;
  border-bottom: solid .15vw #c8c8c8;
  border-radius: 1px;
  background-color: #797979;
  height: 100%;
}

.outer-edge__light-buttons {
  border-left: solid .1vw #585356;
  border-top: solid .1vw #585356;
  border-right: solid .1vw #c8c8c8;
  border-bottom: solid .1vw #c8c8c8;
  border-radius: 1px;
  background-color: #797979;
  height: 100%;
}

.inner-edge__light-buttons {
  border-bottom: solid .15vw #4a4546;
  border-right: solid .15vw #4a4546;
  border-left: solid .15vw #c8c8c8;
  border-top: solid .15vw #c8c8c8;
  padding: .25vw;
  height: 100%;
}

.inner-edge__light {
  border-bottom: solid .2vw #4a4546;
  border-right: solid .2vw #4a4546;
  border-left: solid .2vw #c8c8c8;
  border-top: solid .2vw #c8c8c8;
  padding: .5vw;
  height: 100%;
}

.inner-edge__dark {
  border-bottom: solid .2vw #3F3D43;
  border-right: solid .2vw #3F3D43;
  border-left: solid .2vw #A7A8AE;
  border-top: solid .2vw #A7A8AE;
  height: 100%;
}

.outer-edge__dark {
  border-left: solid .1vw #302a2a;
  border-top: solid .1vw #302a2a;
  border-right: solid .1vw #c1c2c6;
  border-bottom: solid .1vw #c1c2c6;
  border-radius: 1px;
  height: 100%;
}

.inner-edge__light__no-padding {
  @extend .inner-edge__light;
  padding: 0px;
  height: 100%;
}

.outer-edge__dark__no-right-edge {
  @extend .outer-edge__dark;
  border-right: none;
  height: 100%;
}

.outer-edge__light__no-right-edge {
  @extend .outer-edge__light;
  border-right: none;
  height: 100%;
}

.outer-edge__console {
  border-top: solid 1px #6A6767;
  border-right: solid 1px #B1ABAB;
  border-bottom: solid 1px #B1ABAB;
  border-left: solid 1px #6A6767;
  border-radius: 1px;
  height: 100%;
}

.inner-edge__console {
  border-top: solid 1px #EAE9E9;
  border-right: solid 1px #A59B9A;
  border-bottom: solid 1px #A59B9A;
  border-left: solid 1px #EAE9E9;
  background-color: white;
  height: 100%;
}
