.control-pannel__button-display {
  display: flex;
  align-items: center;
}

.button-text__engraved {
  text-shadow: 1px 1px 0px #616161, 2px 1px 0px #aeb5b5;
  color: transparent;
  margin: 0;
}

.button-text__embossed {
  color: #bfbfbf;
  text-shadow: 1px 1px 1px #565656;
  padding: 5px;
  margin: 0;
}

.button__depressed {
  width: fit-content;
  box-shadow: inset 0 0 2px #515151;
}

