.control-panel__button-display {
  display: flex;
  align-items: center;
}

.button-text__engraved {
  text-shadow: 1px 1px 0px #616161, 2px 1px 0px #aeb5b5;
  color: transparent;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1vw;
}

.button-text__engraved__light {
  @extend .button-text__engraved;
  text-shadow: 3px 2px 1px #b0b4a9, 1px 1px 0.5px #666c57;
}

.button-text__embossed {
  color: #bfbfbf;
  text-shadow: 1px 1px 1px #565656;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1vw;
}

.button__depressed {
  width: fit-content;
  box-shadow: inset 0 0 1vw #4c4c4c;
  padding: .25vw .75vw;
  cursor: default;
}

.buttons {
  cursor: pointer;
}

#stop-button {
  font-size: 11.55px;
}

#power-charge {
  border-radius: 50%;
  background-color: #f6e100;
  width: 50px;
  height: 50px;
}

#power-close {
  border-radius: 50%;
  background-color: #148e42;
  width: 50px;
  height: 50px;
}

#power-open {
  border-radius: 50%;
  background-color: #BB0005;
  width: 50px;
  height: 50px; 
}

.power-button__text {
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: "Roboto", sans-serif;
}

.toggle-switch-container {
  align-content: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.toggle-switch {
  margin: 0;
}

.toggle-switch {
  width: 10px;
  position: relative;
}

.toggle-switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.toggle-switch input:checked {
  z-index: 1;
}

.toggle-switch input:checked + label {
  opacity: 1;
  cursor: default;
}

.toggle-switch input:not(:checked) + label:hover {
  opacity: 0.5;
}

.toggle-switch label {
  color: #fff;
  opacity: 0.33;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-outside {
  height: 100%;
  border-radius: 5px;
  padding: 11px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-inside {
  background: #424242;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.switch-vertical {
  background-color: #00f;
  width: 0px;
  height: 60px;
  margin-left: 27px;
}

.switch-vertical input {
  height: 100%;
  width: 60px;
  right: 0;
  margin: 0;
}

.switch-vertical label {
  font-size: 15px;
  line-height: 30px;
  display: block;
  width: 80px;
  height: 50%;
  margin: 0;
  text-align: left;
  padding-left: 12px;
}

.switch-vertical .toggle-outside {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 23px;
  height: 100%;
  right: 0;
  top: 0;
}

.switch-vertical .toggle-inside {
  height: 8px;
  left: 3px;
  top: 3px;
  width: 17px;
}

.switch-vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 3px;
}

.switch-vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 40px;
}

#rewind-button {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.control-panel__button-display .inner-edge__light-buttons {
  padding: .25vw .75vw;
}