.control-panel__button-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-control__top {
  display: flex;
  flex-direction: row;
}

.button-control__bottom {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.button-control__top > div {
  flex: 1;
  background-color: #9CA193;
}

.button-control__bottom > div {
  flex: 1;
}

.control-panel__output-display {
  flex: 1;
}

.control-panel__output-display .inner-edge__light {
  padding: 0.25vw;
}

.button-control__bottom > div {
  background-color: #9CA193;
}