.tour-display__system-wrapper {
  background-color: #448149;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tour-display__center-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour-display__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: black;
  background: url("../../public/images/mapE.png") no-repeat center;
  background-size: cover;
  // background-size: 3em 3em;
  // background-image: linear-gradient(to right, white 1px, transparent 1px),
    // linear-gradient(to bottom, white 1px, transparent 1px);
}

.tour-display__system-status {
  background: #438149;
  color: #ededed;
  margin: 0;
}

.tour-display__system-status__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border-top: 1em solid #438149;
  border-bottom: 1em solid #438149;
  font-style: italic;
}

#tour-display__wrapper-right, #tour-display__wrapper-left  {
  width: 12%;
}

#sys-one {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#sys-one,
#sys-four {
  font-size: 3vw;
}

#sys-two {
  padding: 4px 8px 8px 8px;
}

#sys-three {
  padding: 8px 8px 4px 8px;
}

#sys-three,
#sys-two {
  font-size: 1.5vw;
}

#sys-four {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
