.map-display__system-wrapper {
  display: flex;
  align-items: center;
  background-color: #448149;
}

.map-display__center-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-display__container {
  border-bottom: 10px solid #438149;
  border-top: 10px solid #438149;
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: black;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px);
}

.map-display__system-status {
  max-width: fit-content;
  background: #438149;
  color: #ededed;
  margin: 0 auto;
}

#sys-one {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#sys-one, #sys-four {
  font-size: 38px;
  padding: 0 8px;
  text-align: center;
}

#sys-two {
  padding: 4px 8px 8px 8px;
}

#sys-three {
  padding: 8px 8px 4px 8px;
}

#sys-three, #sys-two {
  font-size: 26px;
}

#sys-four {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-align: center;
}


