.map-display__system-wrapper {
  background-color: #448149;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.map-display__center-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-display__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: black;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px);
}

.map-display__system-status {
  background: #438149;
  color: #ededed;
  margin: 0;
}

.map-display__system-status__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  border-top: 10px solid #438149;
  border-bottom: 10px solid #438149;
  font-style: italic;
}

#sys-one {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

#sys-one,
#sys-four {
  font-size: 38px;
}

#sys-two {
  padding: 4px 8px 8px 8px;
}

#sys-three {
  padding: 8px 8px 4px 8px;
}

#sys-three,
#sys-two {
  font-size: 26px;
}

#sys-four {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
