#grid-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 485px 365px;
  justify-items: stretch;
}

#outer-container {
  width: fit-content;
}

#system-icons {
  grid-area: 4 / 2 / 5 / 3;
}

#console-display {
  grid-area: 4 / 1 / 5 / 2;
}

#control-panel {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 2 / 3;
}

#map-display__outer {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
}

#map-display__inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}
