#grid-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-items: stretch;
  height: 100%;
}

#outer-container__outer {
  max-width: 90%;
  height: 100%;
}

#outer-container__inner {
  height: 100%;
}

#console-display {
  grid-area: 4 / 1 / 5 / 2;
}

#control-panel {
  grid-area: 1 / 2 / 4 / 3;
}

#tour-display__outer {
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
}

#tour-display__inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#control-panel__inner {
  display: flex;
  flex-direction: column;
}

#top-level {
  display: flex;
  flex-direction: row;
  height: 100%;
}