.room-info__container {
  grid-area: 3 / 1 / 4 / 4;
  background-color: #e2eb57;
  padding: 3px;
  display: flex;
}

.room-info__level-display {
  width: fit-content;
}

.room-info__level-text {
  color: white;
  background: black;
  width: fit-content;
  padding: 1px 8px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.room-info__level-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-weight: bolder;
  font-size: 50px;
  margin: 5px 0 0 0;
}

.room-info__title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-info__title {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  margin: 5px 8px;
  padding: 8px 0;
  font-size: x-large;
}

.room-info__subtitle {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  padding: 4px 36px;
  margin: 5px 8px 0px 8px;
}