.room-info__container {
  background-color: #e2eb57;
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
}

.room-info__level-display {
  display: flex;
  flex-direction: column;
}

.room-info__level-text {
  color: white;
  background: black;
  width: fit-content;
  padding: 1px 8px;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: small;
}

.room-info__level-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-weight: bolder;
  font-size: 30px;
  margin: 2px 0 0 0;
  flex: 1;
}

.room-info__title-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.room-info__title {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  margin: 2px 8px;
  padding: 8px 0;
  font-size: large;
}

.room-info__subtitle {
  color: white;
  background-color: black;
  text-align: center;
  font-style: italic;
  font-size: small;
  padding: 4px 36px;
  margin: 5px 8px 0px 8px;
}