.modal-container {
  position: fixed;
  transform-origin: bottom right;
  transform: translate(-400px, -250px) scale(1, 1);
  // top: 30%;
  // left: 20%;
  z-index: 9999;
  background-color: #797979;
  width: 500px;
  height: 200px;
  transition-duration: 2s;
  transition-property: transform;
}

.modal__active {
  
}
