#trash-icon-wrapper {
  position: relative;
}

.modal-container {
  position: fixed;
  width: 0;
  height: 0;
  background-color: #797979;
}

.modal-inactive {
  width: 0px;
  height: 0px;
  transform-origin: bottom right;
  transform: translate(600px, 500px);
  transition: all 500ms linear 0s;
}

.modal-active {
  width: 500px;
  height: 200px;
  transform-origin: bottom right;
  transform: translate(-600px, -500px);
  transition: all 500ms linear 0s;
}

.modal-container__content {

}