.output-display__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.output-display-content__wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 2px 5px;
  margin: 1px 0px;
}

.output-display-content__status {
  text-transform: uppercase;
  color: white;
  background-color: #5FD069;
  font-style: italic;
  padding: .1vw .25vw;
  margin: 0 .5vw 0 0;
  font-size: 1vw;
}

.output-display-content__content {
  font-weight: 500;
  margin: 0px;
  font-style: italic;
  font-size: 1vw;
}

.output-display__hidden {
  display: none;
}