.power-screen__breaker-container {
  display: flex;
  flex: 1;
  margin-bottom: .25vw;
}

.breaker-wrapper {
  display: flex;
  flex: 1;
}

.breaker-off {
  // background-color: #99E3C0;
  background-color: #1F1115;
}

.breaker-on {
  background-color: #1F1115;
  //background-color: #E40141 - on;
}

.power-screen__breaker-parent {
  align-self: center;
  width: fit-content;
}

.breaker-buttons__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
}

.breaker-buttons__wrapper > button {
  cursor: pointer;
}

.breaker-label__wrapper {
  background-color: #1F1115;
  // background-color: #C23457;
  padding: 10px;
  flex: 1;
  text-align: center;
}

.power-screen__voltage-container {
  display: flex;
  justify-content: space-evenly;
}

#power-display__inner > div.power-screen__votage-output-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: .5vw;
}

.breaker-label__text {
  color: black;
  font-size: 1vw;
  text-transform: uppercase;
  border: .2vw solid black;
  padding: .4vw;
  background-color: darken($color: #c2a693, $amount: 50%) ; // activated
  margin: 0 auto;
}

.breaker-button {
  width: 20px;
  height: 20px;
  outline: none;
}
