.power-screen__breaker-container {
}

.breaker-wrapper {
  display: flex;
  
}

.breaker-buttons__wrapper {
  display: flex;
  flex-direction: column;
}

.breaker-label__wrapper {
  background-color: #fb6d7e;
}

.breaker-label__text {
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.breaker-button {
  flex: 1;
}
