.power-screen__breaker-container {
  display: flex;
  flex: 1;
  margin-bottom: 5px;
}

.breaker-wrapper {
  display: flex;
  flex: 1;
}

#breaker-off {
  // background-color: #99E3C0;
  // background-color: #1F1115;
}

#breaker-on {
  // background-color: #1F1115;
  //background-color: #E40141 - on;
}

.power-screen__breaker-parent {
  align-self: center;
  width: fit-content;
}

.breaker-buttons__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.breaker-label__wrapper {
  // background-color: #1F1115;
  background-color: #C23457;
  padding: 10px;
  flex: 1;
  text-align: center;
}

.power-screen__voltage-container {
  display: flex;
  justify-content: space-evenly;
}

#power-display__inner > div.power-screen__votage-output-container {
  display: flex;
  justify-content: space-evenly;
}

.breaker-label__text {
  // background-color: #CDA08E;
  // background-color: #1F1115;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 4px;
  background-color: #c2a693; // activated
  margin: 0 auto;
}

.breaker-button {
  width: 20px;
  height: 20px;
}
