#system-icons__container {
  display: flex;
  flex: 0 0 calc(10% + .6vw);
}

#system-icons__container > div, #system-icons__container > div > div {
  display: flex;
  flex: 1;
}

#system-icons__wrapper {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border: solid .1vw black;
}

#system-icons__wrapper > img {
  width: 4vw;
  height: 3vw;
}

#system-icons__wrapper img {
  height: 3vw;
}

.white-font-black-background {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-style: italic;
  display: flex;
  justify-self: center;
  align-self: center;
  padding: .2vw .5vw;
  font-size: 1vw;
  white-space: pre;
}

#trash-icon-wrapper {
  display: flex;
}

#trash-icon {
  z-index: 1;
}

.system-icons__icon-wrapper {
  display: flex;
  align-items: flex-end;
}

#system-icons__wrapper img {
  cursor: pointer;
}