#system-icons__container {
  display: flex;
}

#system-icons__wrapper {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px black;
}

.white-font-black-background {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-style: italic;
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 2px;
}

#trash-icon {
  z-index: 1;
}

.system-icons__icon-wrapper {
  display: flex;
  align-items: flex-end;
}

#system-icons__wrapper img {
  cursor: pointer;
}