*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media (max-height: 900px) {
  body {
    height: 100vh;
  }
}

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}
